<div class="container">
<div class="accordion" id="ticketSupport">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSupport">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapse1"
        aria-expanded="false"
        aria-controls="collapse1"
      >
        <i class="fas fa-headset"></i><b>‏‏‎ ‏‏‎ ‎‎Create a Support Ticket</b>
      </button>
    </h2>
    <div
      id="collapse1"
      class="accordion-collapse collapse"
      aria-labelledby="heading"
      data-mdb-parent="#ticketSupport"
    >
      <div class="accordion-body">
  <div class="col-md-12 text-center">
	<h1>Create Support Ticket</h1>
  </div>
    
 <div class="col-12">
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	region: "na1",
	portalId: "2471334",
	formId: "e1239432-6a3d-408d-b579-07f7fd4f3c42"
});
</script>
     
  
   
  </div>
      </div>
    </div>
  </div>
  </div>
</div>
