<div class="col-md-8 container text-center bg-light g-0">
  
<div class="org_cover">
  <img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/1626417656376.jpg?v=1643265246" class="img-fluid org_cover"/>
</div>
  
<div class="org_avatar">
  <img src="https://media-exp1.licdn.com/dms/image/C560BAQEZRdXJwCw46Q/company-logo_200_200/0/1627884262031?e=1651104000&v=beta&t=yII5Tu-lAn40ZEND9vIQd7soeqlL11_jdm2E3qBuKkI" class="img-fluid"/>
</div>
  
  <div class="org_descrp">
    
<div class="org_name">
    <h1>Ackuretta</h1>
</div>
    
<div class="org_tag">
    <h3>Striving For Perfect Smiles – Digital Dentistry For Everyone</h3>
</div> 
    
<div class="org_desg">
    <p>Consumer Electronics | Taipei </p>
</div>
    
<div class="follow">
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/FollowCompany" data-id="10011310" data-counter="bottom"></script>
</div> 
    
  </div>

</div>

<style>
.org_avatar {
    max-width: 90px;
}
  .org_avatar {
    max-width: 90px;
    position: relative;
    display: flex;
    left: 2%;
    top: -45px;
    border: #fff 2px solid;
}
  .col-md-8.container.text-center.bg-light.g-0 {
    border-radius: 12px;
    height: 360px;
    max-width: 560px !important;
}
  .img-fluid.org_cover {
    max-width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}
  .org_name h1 {
    color: #000;
}
.org_descrp h3 {
    color: #000;
    font-size: 1.1rem;
}
  .org_descrp p {
     color:#a3a3a3;
    font-size: 0.9rem;
}
.org_descrp {
    display: block;
    position: relative;
    text-align: left;
    padding-left: 18px;
    top: -45px;
}
</style>
