{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% if template contains 'collection' %}
  {% assign matrixType = 'collection-matrix' %}
{% elsif template contains 'search' %}
  {% assign matrixType = 'search-matrix' %}
{% assign products_per = 3 %}
{% endif %}


  
  {% if template != 'search' %}

<div id="{{id}}" class="container" itemtype="http://schema.org/ItemList" class="{{ matrixType }}" >
  {% assign j = 0 %}
        
  {% for product in products limit: products_limit %}
    {% if product.id == skip_product.id or skip == true %}
      {% assign product_found = true %}
    {% else %}
      {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' and template != 'index' and type != 'block' %}
        {% assign skip = true %}
      {% else %}
		{% assign j = j | plus: 1 %}
 {% endif %}

	{% if products_per == 10 %}
	{% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','','','','','','' %}
    {% elsif products_per == 9 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','','','','','' %}
	{% elsif products_per == 8 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','','','','' %}
	{% elsif products_per == 7 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','','','' %}
    {% elsif products_per == 6 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','','' %}
	{% elsif products_per == 5 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','','','' %}
	{% elsif products_per == 4 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">>','','','' %}
	{% elsif products_per == 3 %}
    {% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','','' %}
  
    {% elsif products_per == 2 %}
	{% cycle '<div class="col d-flex justify-content-center reng"><div class="card-group">','' %}
  	{% elsif products_per == 1 %}
	<div class="col d-flex justify-content-center reng"><div class="card-group">
       
	{% endif %}

       {% include 'prd-thumb-v3' %}
     
	 {% if products_per == 10 %}
     {% cycle '','','','','','','','','','</div></div>' %}
     {% elsif products_per == 9 %}
     {% cycle '','','','','','','','','</div></div>' %}
     {% elsif products_per == 8 %}
     {% cycle '','','','','','','','</div></div>' %}
     {% elsif products_per == 7 %}
     {% cycle '','','','','','','</div></div>' %}
     {% elsif products_per == 6 %}
     {% cycle '','','','','','</div></div>' %}
     {% elsif products_per == 5 %}
     {% cycle '','','','','</div></div>' %} 
	 {% elsif products_per == 4 %}
     {% cycle '','','','</div></div>' %} 
	 {% elsif products_per == 3 %}
     {% cycle '','','</div></div>' %} 
     {% elsif products_per == 2 %}
	 {% cycle '','</div></div>' %} 
     {% elsif products_per == 1 %}
	 </div></div>
     {% endif %}

{% endif %}
{% endfor %}
</div>
</div>

  {% else %}
  
  {% assign products_per = 4 %}
	{% if products_per == 10 %}
	{% cycle '<div class="row justify-content-center reng">','','','','','','','','','' %}
    {% elsif products_per == 9 %}
    {% cycle '<div class="row justify-content-center reng">','','','','','','','','' %}
	{% elsif products_per == 8 %}
    {% cycle '<div class="row justify-content-center reng">','','','','','','','' %}
	{% elsif products_per == 7 %}
    {% cycle '<div class="row justify-content-center reng">','','','','','','' %}
    {% elsif products_per == 6 %}
    {% cycle '<div class="row justify-content-center reng">','','','','','' %}
	{% elsif products_per == 5 %}
    {% cycle '<div class="row justify-content-center reng">','','','','' %}
	{% elsif products_per == 4 %}
    {% cycle '<div class="row justify-content-center reng">','','','' %}
	{% elsif products_per == 3 %}
    {% cycle '<div class="row justify-content-center reng">','','' %}
    {% elsif products_per == 2 %}
	{% cycle '<div class="row justify-content-center reng">','' %}
  	{% elsif products_per == 1 %}
	<div class="row justify-content-center reng">
     
	{% endif %}
         {% include 'prd-thumb-v3' %}
	 {% if products_per == 10 %}
     {% cycle '','','','','','','','','','</div>' %}
     {% elsif products_per == 9 %}
     {% cycle '','','','','','','','','</div>' %}
     {% elsif products_per == 8 %}
     {% cycle '','','','','','','','</div>' %}
     {% elsif products_per == 7 %}
     {% cycle '','','','','','','</div>' %}
     {% elsif products_per == 6 %}
     {% cycle '','','','','','</div>' %}
     {% elsif products_per == 5 %}
     {% cycle '','','','','</div>' %} 
	 {% elsif products_per == 4 %}
     {% cycle '','','','</div>' %} 
	 {% elsif products_per == 3 %}
     {% cycle '','','</div>' %} 
     {% elsif products_per == 2 %}
	 {% cycle '','</div>' %} 
     {% elsif products_per == 1 %}
	 </div>
     {% endif %}

  
  
  {% endif %}
  
 