<div class="top-c container-fluid text-center" >
<div class="row">

<div class="col container text-center">
 <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>// <![CDATA[
hbspt.forms.create({
	region: "na1",
	portalId: "2471334",
	formId: "deb42739-4d04-4bd5-8e29-0eedd976683e"
});
// ]]></script>
</div>
</div>
  <div class="row">
    <div class="col container text-image">

<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/hand-with-ibt-sml.png?v=1643009467" />

</div>
  </div>
</div>

<style>
  #shopify-section-page-get-quote{
  background-color:#000
  }

.top-c{
padding-top: 80px;
}
  
  
</style>